.contentWrapper {
  max-width: 700px;
  margin: 0 auto;

  .blockHeading {
    font-size: 23px;
    font-weight: 600;
    color: $black;
    margin: 25px 0;

    @media only screen and (max-width: 1024px) {
      font-size: 18px;
      margin: 55px 0 25px 0;
    }

    &.fixMargin {
      margin: 25px 0;
    }
  }

  .durationTip {
    margin: 26px 0;

    @media only screen and (max-width: 1024px) {
      font-size: 13px;
    }
  }
}
