.introSection {
  margin: 30px 250px 30px 30px;
  position: relative;

  .introHeading {
    position: absolute;
    bottom: calc(50% - 118px);
    right: 5%;
    width: 450px;
    text-align: right;

    .introText {
      color: $black;
    }
  }
}
