.introSection {
  margin: 30px 250px 30px 30px;
  position: relative;

  @media only screen and (max-width: 896px) {
    margin: 0;
  }

  .introHeading {
    position: absolute;
    bottom: calc(50% - 118px);
    right: 5%;
    width: 450px;
    text-align: right;

    @media only screen and (max-width: 896px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      right: unset;
      bottom: unset;
      text-align: center;
      width: calc(100% - 30px);
      padding: 15px;
      background-color: $white;

      > * {
        max-width: 600px;
      }
    }

    .introText {
      color: $black;
    }

    h1 {
      @media only screen and (max-width: 896px) {
        margin: 0 0 20px 0;
      }
    }
  }

  .logoMobile {
    display: none;

    @media only screen and (max-width: 440px) {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 200px;
    }
  }
}
