.ReactModal__Body--open {
  overflow-y: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.customModalContainer {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 2px solid $gold;
  background: $white;
  overflow: visible;
  border-radius: 4px;
  outline: none;
  padding: 60px 100px;

  @media only screen and (max-width: 768px) {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: 10px;
  }
}

.customModalOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $white;
  z-index: 1000;
}
