.container {
  margin: 30px 250px 30px 30px;
  padding: 24px;
  min-height: calc(100vh - 110px);
  border-radius: 4px;
  position: relative;
  background-image: radial-gradient(
    at center top,
    #fff 0px,
    #fff 15%,
    $white 100%
  );
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1024px) {
    margin: 0;
    padding: 15px;
    min-height: auto;
    background-image: none;
    background-color: $white;
  }
}
