nav.nav {
  list-style: none;
  padding: 0;
  margin: 0;

  @media only screen and (max-width: 1024px) {
    display: flex;
  }

  .link {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    display: block;

    @media only screen and (max-width: 1024px) {
      font-size: 13px;
      padding: 12px 6px;
      white-space: nowrap;
    }

    &.safariBugSolver {
      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
