.formWrapper {
  width: 30%;
  padding: 50px;

  @media only screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
    order: 0;
    max-width: 600px;
    margin: 0 auto;
  }

  h2 {
    margin: 20px 0 50px 0;
  }

  .fieldWrapper {
    position: relative;
    font-family: 'Muli', sans-serif;

    label {
      font-size: 14px;
      margin-left: 12px;
    }

    .formControl {
      display: block;
      width: 100%;
      min-height: 42px;
      padding: 0 12px 0 12px;
      margin-bottom: 40px;
      border: none;
      border-bottom: 2px solid $gray;
      font-size: 16px;
      background-color: transparent;
      transition: border-color 0.3s ease-in-out;
      resize: none;
      box-sizing: border-box;

      @media only screen and (max-width: 1024px) {
        margin-bottom: 30px;
        font-size: 14px;
      }

      &:focus {
        outline: none;
        border-color: $gold;
      }

      &.textArea {
        padding-top: 12px;
      }
    }
  }

  button {
    margin: 50px auto;
    display: block;

    @media only screen and (max-width: 1024px) {
      margin: 40px auto;
    }
  }

  .errorMessage {
    position: absolute;
    bottom: -30px;
    color: #cc0000;
    padding: 0 0 0 12px;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
  }
}
