.formWrapper {
  width: 25%;
  padding: 50px;

  @media only screen and (max-width: 896px) {
    width: 100%;
    padding: 0;
    order: 0;
    max-width: 600px;
    margin: 0 auto;
  }

  h2 {
    margin: 0 0 50px 0;

    @media only screen and (max-width: 896px) {
      margin: 0 0 20px 0;
    }
  }

  .fieldWrapper {
    position: relative;

    .formControl {
      display: block;
      width: 100%;
      min-height: 42px;
      padding: 6px 12px;
      margin-bottom: 40px;
      border: none;
      border-bottom: 2px solid $gray;
      font-size: 16px;
      font-family: 'Muli', sans-serif;
      background-color: transparent;
      transition: border-color 0.3s ease-in-out;
      resize: none;
      box-sizing: border-box;

      @media only screen and (max-width: 896px) {
        margin-bottom: 30px;
        font-size: 14px;
      }

      &::placeholder {
        color: $black;
      }

      &:focus {
        outline: none;
        border-color: $gold;

        &::placeholder {
          color: $gold;
        }
      }
    }
  }

  button {
    margin: 50px auto;
    display: block;

    @media only screen and (max-width: 896px) {
      margin: 20px auto;
    }
  }

  .errorMessage {
    position: absolute;
    bottom: -30px;
    color: #cc0000;
    padding: 5px 5px 0 12px;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    white-space: nowrap;

    @media only screen and (max-width: 896px) {
      font-size: 12px;
    }
  }
}
