.sidebar {
  position: fixed;
  right: 0;
  top: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  font-family: 'Raleway', sans-serif;
}
