.sidebar {
  position: fixed;
  right: 0;
  top: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  font-family: 'Muli', sans-serif;
  text-align: center;

  @media only screen and (max-width: 896px) {
    width: 100%;
    bottom: 0;
    top: unset;
    flex-direction: row;
    justify-content: space-evenly;
    background: $white;
    padding: 12px 0;
    z-index: 999;
    box-shadow: 0px -2px 11px -1px rgba(0, 0, 0, 0.15);
  }

  @media only screen and (max-width: 440px) {
    justify-content: center;
  }

  @media only screen and (max-width: 896px) {
    address {
      display: none;
    }
  }
}
