h6 {
  cursor: pointer;
  padding: 30px 20px;
  border-top: 2px solid lighten($gold, 10%);
  margin: 0;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: $black;
  display: flex;
  align-items: center;
  position: relative;

  @media only screen and (max-width: 896px) {
    font-size: 14px;
    padding: 30px 0;
  }

  &:first-of-type {
    border-top: none;
  }

  .duration {
    display: block;
    position: absolute;
    right: 20px;
    color: $gray;

    @media only screen and (max-width: 896px) {
      bottom: 10px;
      left: 35px;
    }
  }
}

.content {
  overflow: hidden;
}

.contentWrapper {
  p {
    margin: 0;
    padding: 0 0 30px 54px;
    color: $gray;

    @media only screen and (max-width: 896px) {
      padding: 0 0 15px 35px;
    }
  }
}

.arrowIcon {
  transition: all 0.3s ease-in-out;
  margin-right: 10px;

  &.open {
    transform: rotate(-90deg);
  }
}
